@model PSAPIRestaurantSystem.Models.ViewModels.AddOrderedMealViewModel

@{
    ViewData["Title"] = "Papildyti užsakymą";
}

<h1>Papildyti užsakyma</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderedMeals.FirstOrDefault().MenuEntryId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderedMeals.FirstOrDefault().Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderedMeals.FirstOrDefault().Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderedMeals.FirstOrDefault().Comment)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OrderedMeals.Count > 0)
                    {
                        @for (int i = 0; i < Model.OrderedMeals.Count; i++)
                        {
                            string menuEntry = Model.OrderedMeals[i].MenuEntry.MenuEntryName;
                            int menuEntryId = Model.OrderedMeals[i].MenuEntryId;
                            int qty = Model.OrderedMeals[i].Quantity;
                            double price = Model.OrderedMeals[i].Price;
                            string comm = Model.OrderedMeals[i].Comment;

                            <tr>
                                <td>
                                    <input style="width:150px" disabled name="OrderedMeals[i].MenuEntryId" value=@menuEntry />
                                    <input hidden asp-for="OrderedMeals[i].MenuEntryId" value=@menuEntryId />
                                </td>
                                <td>
                                    <input disabled name="OrderedMeals[i].MenuEntryId" value=@qty />
                                    <input hidden asp-for="OrderedMeals[i].Quantity" value=@qty />
                                </td>
                                <td>
                                    <input disabled name="OrderedMeals[i].MenuEntryId" value=@price />
                                    <input hidden asp-for="OrderedMeals[i].Price" value=@price />
                                </td>
                                <td>
                                    <input disabled name="OrderedMeals[i].MenuEntryId" value=@comm />
                                    <input hidden asp-for="OrderedMeals[i].Comment" value=@comm />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model != null)
                {
                    <label asp-for="CurrentTable" class="control-label"></label>
                    @for (int i = 0; i < Model.Tables.Count; i++)
                    {
                        int tableNum = Model.Tables[i].TableNum;
                        <div class="form-group">
                            <select disabled asp-items="ViewBag.TableNum" asp-for="Tables[i].TableNum" class="control-label"></select>
                            <input hidden asp-for="Tables[i].TableNum" value=@tableNum />
                        </div>
                    }
                }*@
            <input hidden asp-for="OrderId" value="@Model.OrderId" />
            <div class="form-group">
                <label class="control-label">Pasirinkite patiekalą/gėrimą:</label>
                <select asp-for="CurrentOrderedMealId" asp-items="ViewBag.Menu" class="form-control"></select>
                <span asp-validation-for="CurrentOrderedMealId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Pasirinkite kiekį:</label>
                <input type="number" asp-for="Quantity" asp-items="ViewBag.Menu" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Pastabos/komentarai:</label>
                <input type="text" asp-for="Comments" asp-items="ViewBag.Menu" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>

            <button type="submit" class="btn" formaction="/Waiter/AddOrderedMealAdd/@Model.OrderId"><is class="fas fa-plus"></is></button>
            <div class="form-group">
                <input type="submit" value="Išsaugoti" asp-action="AddOrderedMeal" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="OrderPage" asp->Grįžti atgal</a>
</div>
