@model PSAPIRestaurantSystem.Models.Order

@{
    ViewData["Title"] = "Ištrinti užsakymą";
}

<h1>Ištrinti užsakymą</h1>

<h3>Ar tikrai norite ištrinti užsakyma Nr. @Model.OrderId?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>
    
    <form asp-action="OrderDeleteForm">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Taip" class="btn btn-danger" />
        <input type="button" value="Ne" class="btn btn-success"  onclick="location.href='@Url.Action("OrderPage", "Waiter")/@Model.OrderId'"/>
    </form>
</div>
