@using PSAPIRestaurantSystem.Models;
@model IEnumerable<PSAPIRestaurantSystem.Models.Reservation>

@{
	ViewData["Title"] = "Rezervacijos";
}

<h1>Rezervacijos</h1>


<table class="table table-hover">
	<thead class="bg-info">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().ReservationId)
			</th>
			<th>
				Vartotojo vardas
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().PeopleCount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().ReservedForDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().ReservedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstOrDefault().Comment)
			</th>
			<th>
				Staliukai
			</th>
		</tr>
	</thead>

	<thead>
		<tr class="font-weight-bold" style="background:#d7dadd;">
			<th>Aktyvios Rezervacijos</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			@if (item.State == (int)ReservationState.Active)
			{
				var tables = String.Join(", ", item.TableOccupancies.Select(n => n.TableId.ToString()).ToArray());
				<tr style="padding-left:30px">
					<td>
						@Html.DisplayFor(entryItem => item.ReservationId)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.ReservedBy.Person.Name) @Html.DisplayFor(entryItem => item.ReservedBy.Person.Surname)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.PeopleCount)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.ReservedForDate)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.ReservedDate)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.Comment)
					</td>
					<td>
						@Html.DisplayFor(entryItem => tables)
					</td>
				</tr>
			}
		}
	</thead>

	<thead>
		<tr class="font-weight-bold" style="background:#d7dadd;">
			<th>Atšauktos rezervacijos</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			@if (item.State == (int)ReservationState.Canceled)
			{
				var tables = String.Join(", ", item.TableOccupancies.Select(n => n.TableId.ToString()).ToArray());
				<tr style="padding-left:30px">
					<td>
						@Html.DisplayFor(entryItem => item.ReservationId)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.ReservedBy.Person.Name) @Html.DisplayFor(entryItem => item.ReservedBy.Person.Surname)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.PeopleCount)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.ReservedForDate)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.ReservedDate)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.Comment)
					</td>
					<td>
						@Html.DisplayFor(entryItem => tables)
					</td>
				</tr>
			}
		}
	</thead>

	<thead>
		<tr class="font-weight-bold" style="background:#d7dadd;">
			<th>Užbaigtos rezervacijos</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			@if (item.State == (int)ReservationState.Done)
			{
				var tables = String.Join(", ", item.TableOccupancies.Select(n => n.TableId.ToString()).ToArray());
				<tr style="padding-left:30px">
					<td>
						@Html.DisplayFor(entryItem => item.ReservationId)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.ReservedBy.Person.Name) @Html.DisplayFor(entryItem => item.ReservedBy.Person.Surname)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.PeopleCount)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.ReservedForDate)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.ReservedDate)
					</td>
					<td>
						@Html.DisplayFor(entryItem => item.Comment)
					</td>
					<td>
						@Html.DisplayFor(entryItem => tables)
					</td>
				</tr>
			}
		}
	</thead>


</table>

