@model IEnumerable<PSAPIRestaurantSystem.Models.MenuEntry>

@{
    ViewData["Title"] = "Menių";
}

<h1>Menių</h1>

<p>
    <a asp-action="Create">Iterpti naują menių įrašą</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuEntryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Changed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuEntryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Changed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu.Title)
            </td>
            <td>
                <a asp-controller="Admin" asp-action="Edit" asp-route-id="@item.MenuEntryId">Edit</a> |
                <a asp-controller="Admin" asp-action="Delete" asp-route-id="@item.MenuEntryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
