@model IEnumerable<PSAPIRestaurantSystem.Models.Menu>

@{
    ViewData["Title"] = "Meniu";
}

<h1>Meniu</h1>

<p>
    <a asp-action="Create"><i class="fas fa-plus"></i>Pridėti naują menių įrašą</a>
</p>

<table class="table table-hover">
    <thead class="bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MenuEntries.FirstOrDefault().MenuEntryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MenuEntries.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MenuEntries.FirstOrDefault().Changed)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <thead>
            <tr style="background:#d7dadd;">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <th></th>
                <td>
                    @Html.DisplayFor(modelItem => item.Changed)
                </td>
                <th></th>
            </tr>
            @foreach (var entry in item.MenuEntries)
            {
                <tr style="padding-left:30px">
                    <td>
                        @Html.DisplayFor(modelEntry => entry.MenuEntryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelEntry => entry.Price)€
                    </td>
                    <td>
                        @Html.DisplayFor(modelEntry => entry.Changed)
                    </td>
                    <th>
                        <a asp-controller="Admin" asp-action="Delete" asp-route-id="@entry.MenuEntryId"><i class="fas fa-edit"></i></a>
                        <a asp-controller="Admin" asp-action="Delete" asp-route-id="@entry.MenuEntryId"><i class="fas fa-trash-alt"></i></a>
                    </th>
                </tr>
            }
        </thead>
    }

</table>
