@model IEnumerable<PSAPIRestaurantSystem.Models.Menu>

@{
    ViewData["Title"] = "Meniu";
    var dummyModel = Model.FirstOrDefault().MenuEntries.FirstOrDefault();
}

<h1>Meniu</h1>

<p>
    <a asp-action="Create">Pridėti naują menių įrašą</a>
</p>

<table class="table table-hover">
    <thead class="bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MenuEntries.FirstOrDefault().MenuEntryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MenuEntries.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MenuEntries.FirstOrDefault().Changed)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <thead>
            <tr style="background:#d7dadd;">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <th></th>
                <td>
                    @Html.DisplayFor(modelItem => item.Changed)
                </td>
            </tr>
            @foreach (var entry in item.MenuEntries)
            {
                <tr style="padding-left:30px">
                    <td>
                        @Html.DisplayFor(modelEntry => entry.MenuEntryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelEntry => entry.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelEntry => entry.Changed)
                    </td>
                </tr>
                }
        </thead>
    }

</table>
